div.abouttitle{
    color:#568A9F;
    text-align: center;
    background-color: #ffffff;
    /* background-color:#AFBED5; */
    padding: 40px;
}

h2{
    color:#FFEE97;
}

.subtitle {
   color:#568A9F;
   font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    /* color: #FFEE97; */
    color: #4B4B4B;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    padding: 5px;
}

.resizeimg{
    width:650px;
    height:auto;
}
